.fab
  background #fafafa
  border-radius 50%
  box-shadow 1px 1px 3px rgba(#000, .33)
  cursor pointer
  height 16px
  line-height 1
  padding 8px
  text-align center
  transition background .3s ease-in-out, box-shadow .3s ease-in-out
  width 16px
  z-index 5

  &:hover
    background #fff
    box-shadow 1px 2px 6px rgba(#000, .33)

  &:active
    background #eee