.lightbox
  position fixed
  height 100%
  left 0
  opacity 0
  top -100%
  width 100%
  transition opacity .3s ease-in-out, top 0s linear .3s

  &-shadow
    background rgba(#000, .33)
    position absolute
    height 100%
    left 0
    top 0
    width 100%

  &-container
    background #fff
    border-radius 4px
    box-shadow 1px 1px 6px rgba(#000, .33)
    left 50%
    padding 3px
    position absolute
    top 50%
    transform translate(-50%, -50%)

  &-content
    position relative

  &-image
    height 50px
    overflow hidden
    position relative
    width 50px
    transition width .3s ease-in-out, height .3s ease-in-out

  &-close
    right 0
    position absolute
    top 0
    transform translate(33%, -33%)

  &-arrow
    position absolute
    top 50%
    pointer-events none
    opacity 0
    transition opacity .3s ease-in-out

    &.arrow-left
      left 0
      transform translate(-50%, -50%)

    &.arrow-right
      right 0
      transform translate(50%, -50%)
      
  &-title
    background #fff
    border-radius 6px 6px 0 0
    font-family HelveticaNeue, Calibri, Arial, sans-serif
    font-weight 400
    left -3px
    padding 6px
    position absolute
    top -30px
    z-index 5

  &.is-visible
    opacity 1
    top 0
    transition opacity .3s ease-in-out, top 0s linear 0s

  &.is-loaded
    .lightbox-arrow
      opacity 1
      pointer-events auto