$spinner-color = #0dc5c1
$background-color = #fff
$size = 3px
$width = 40%

.spinner
  animation spin 1.4s infinite linear
  background $spinner-color
  background -moz-linear-gradient(left, $spinner-color 10%, rgba(255, 255, 255, 0) 42%)
  background -webkit-linear-gradient(left, $spinner-color 10%, rgba(255, 255, 255, 0) 42%)
  background -o-linear-gradient(left, $spinner-color 10%, rgba(255, 255, 255, 0) 42%)
  background -ms-linear-gradient(left, $spinner-color 10%, rgba(255, 255, 255, 0) 42%)
  background linear-gradient(to right, $spinner-color 10%, rgba(255, 255, 255, 0) 42%)
  border-radius 50%
  font-size $size
  height 11em
  left calc(50% - 5.5em)
  margin 0 auto
  position absolute
  text-indent -9999em
  top calc(50% - 5.5em)
  width 11em

.spinner:before
  content ''
  background $spinner-color
  border-radius 100% 0 0 0
  height 50%
  left 0
  position absolute
  top 0
  width 50%

.spinner:after
  background $background-color
  border-radius 50%
  bottom 0
  height 100% - $width
  content ''
  left 0
  margin auto
  position absolute
  right 0
  top 0
  width 100% - $width

@-webkit-keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
  
@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
  

